@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: poppins , sans-serif;
     background-color: white;
}

h1{
    color: black;
    font: 9px;
}
p{
    color: rgb(42, 41, 41);
}
